.ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numero {
  display: flex;
  color: black;
  border: 1px solid black;
  width: 30px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 1px;
}
